{% extends 'base.html' %}
{% load static %}
{% block title %} Главная страница {% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2 class="text-center" style="margin-bottom: 5%; margin-top:5%;">Ваши любимые фильмы и сериалы здесь</h2>
    </div>
    <div class="row mx-auto" style="width: 25%">
      <img src="{% static 'images/walter.png '%}" class="card-img" alt="..."></omg>
    </div>
    <div class="row ">
        <div class="d-flex justify-content-center">
          <form action="{% url 'films:search' %}" class="form-inline" method="get">
            <div class="search">
                <input type="text" class="search-input" placeholder="Поиск..." name="res">
                <button type="submit" class="search-icon"><i class="fa fa-search"></i></button>
            </div>
          </fomr>
        </div>
    </div>
  </div>
{% endblock content %}