.right {
    position: relative;
    z-index: 2;
    
    margin-left: -8.333333%;
  }
  
  .left {
    margin-right: -8.333333%;
  }
  
  @media (max-width: 767.98px) { 
    .left,
    .right {
      margin-left: 0px;
      margin-right: 0px;
    }
  }